<ion-header>
  <ion-toolbar color="quikWinToolbar">
    <ion-title align="center" class="fontFamily40">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<h2 class="fontFamily60" text-center>Welcome to QUIKWIN</h2>

 <form [formGroup]="loginForm">

 <ion-list>

  <ion-item>
    <ion-label floating>Mobile Number</ion-label>
    <ion-input maxlength="10" formControlName="loginMobileNumber" type="text"></ion-input>
  </ion-item>

<div class="textErrorMessage" *ngIf="loginForm.controls.loginMobileNumber.touched && loginForm.status === 'INVALID' ">
                {{loginForm.controls.loginMobileNumber && loginForm.controls.loginMobileNumber.errors && loginForm.controls.loginMobileNumber.errors.errorObj}}
</div>


  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input maxlength="50" formControlName="loginPass" type="password"></ion-input>
  </ion-item>

<div class="textErrorMessage" *ngIf="loginForm.controls.loginPass.touched && loginForm.status === 'INVALID' ">
                {{loginForm.controls.loginPass && loginForm.controls.loginPass.errors && loginForm.controls.loginPass.errors.errorObj}}
</div>

<div class="textErrorMessage" *ngIf="finalErrorMessage">
            Email and Password are required
</div>

<div class="textErrorMessage" *ngIf="serverErrorMessage">
    {{serverErrorMessage}}
</div>


</ion-list>

    </form>

     <button [disabled]="loginForm.status === 'INVALID'" ion-button full color="quikWinButton" (click)="save()">Login</button>

<ion-grid class="fontFamily60">
  <ion-row>
    <ion-col col-6 class="dontHaveAcc">Don’t have an account?</ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-6 class="signUpClass" (click)="goToSignUpPage('SignUpPage')"> Sign-Up </ion-col>
    <ion-col col-6 class="signUpClass" (click)="goToForgotPassPage()">Forgot Password?</ion-col>
  </ion-row>
</ion-grid>


</ion-content>
