bottom-tabs{
.mainBottomTab{
    .tabbar.show-tabbar{
        .tab-button[aria-selected=true] {
                background: $textColorPrimary;
                .tab-button-icon{
                    color: #fff;
                }
                span.tab-button-text{
                    color: #fff;
                }
        }
    }
}
}
