<ion-tabs class="mainBottomTab">
  <ion-tab [root]="tab1Root" tabTitle="Predict" tabIcon="football"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Groups" tabIcon="people"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Menu" tabIcon="more"></ion-tab>\
</ion-tabs>
