<ion-header>
  <ion-navbar color="quikWinToolbar">
    <ion-title align="center" class="fontFamily40">Forgot Password</ion-title>
<!--     <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>

<p class="fontFamily60" text-center>Please enter the mobile number</p>

 <form [formGroup]="forgotPassForm">
 
 <ion-list>

  <ion-item>
    <ion-label floating>Mobile number</ion-label>
    <ion-input maxlength="10" formControlName="forgotPassMobile" type="tel"></ion-input>
  </ion-item>

<div *ngIf="forgotPassForm.controls.forgotPassMobile.touched && forgotPassForm.status === 'INVALID' ">
                {{forgotPassForm.controls.forgotPassMobile && forgotPassForm.controls.forgotPassMobile.errors && forgotPassForm.controls.forgotPassMobile.errors.errorObj}}
</div>


<div *ngIf="finalErrorMessage">
           Mobile number is required
</div>


</ion-list>
 
    </form>

     <button [disabled]="forgotPassForm.status === 'INVALID'" ion-button full color="quikWinButton" (click)="save()">Send</button>
</ion-content>
