<ion-header>
  <ion-navbar color="quikWinToolbar">
    <ion-title align="center" class="fontFamily40">OTP</ion-title>
    <!--     <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h2 class="fontFamily60" text-center>Enter OTP</h2>
  <p class="fontFamily60" text-center>Please enter the code sent to {{mobileNumberData}}</p>

  <form [formGroup]="otpForm">

    <ion-list>

      <ion-item>
        <ion-label floating>OTP</ion-label>
        <ion-input maxlength="4" formControlName="otp" type="tel"></ion-input>
      </ion-item>

      <div *ngIf="otpForm.controls.otp.touched && otpForm.status === 'INVALID' ">
        {{otpForm.controls.otp && otpForm.controls.otp.errors && otpForm.controls.otp.errors.errorObj}}
      </div>


      <div *ngIf="finalErrorMessage">
        OTP is required
      </div>
      <div class="textErrorMessage" *ngIf="serverErrorMessage">
        {{serverErrorMessage}}
      </div>

    </ion-list>

  </form>

  <button [disabled]="otpForm.status === 'INVALID'" ion-button full color="quikWinButton" (click)="save()">Sign Up</button>
</ion-content>
