p.qkwinP {
    font-family: Dosis;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #872542;
    margin-top: 8px;
}

ion-icon.arrow {
    font-size: 24px;
}

match-predictions .matchesFixturesWrapper .swiper-pagination {
    bottom: 6px;
}