<ion-header>
    <ion-toolbar color="quikWinToolbar">
        <ion-title align="center" class="fontFamily50">Leagues</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-card *ngFor="let game of gamesList">
        <ion-card-content>
            <ion-list>
                <ion-item (click)="goToPage()">
                    <ion-thumbnail item-start>
                        <img src={{game.image}}>
                    </ion-thumbnail>
                    <h2 class="fontFamily60">{{game.name}}</h2>
                    <p class="qkwinP">{{game.data}}</p>
                    <button ion-button clear item-end>
                <ion-icon color="iconTextColor" class="arrow" name="arrow-round-forward"></ion-icon>
              </button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>


</ion-content>