<ion-header>
  <ion-navbar color="quikWinToolbar">
    <ion-title align="center" ion-title="center" class="fontFamily40">Sign Up</ion-title>
    <!--     <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h2 class="fontFamily60" text-center>Welcome to QUIKWIN</h2>
  <p class="fontFamily60" text-center>Please enter the details to sign up</p>

  <form [formGroup]="signUpForm">

    <ion-list>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input maxlength="50" formControlName="name" type="text"></ion-input>
      </ion-item>

      <div class="textErrorMessage" *ngIf="signUpForm.controls.name.touched && signUpForm.status === 'INVALID' ">
        {{signUpForm.controls.name && signUpForm.controls.name.errors && signUpForm.controls.name.errors.errorObj}}
      </div>

      <ion-item>
        <ion-label floating>Email id</ion-label>
        <ion-input maxlength="50" formControlName="emailId" type="text"></ion-input>
      </ion-item>

      <div class="textErrorMessage" *ngIf="signUpForm.controls.emailId.touched && signUpForm.status === 'INVALID' ">
        {{signUpForm.controls.emailId && signUpForm.controls.emailId.errors && signUpForm.controls.emailId.errors.errorObj}}
      </div>


      <ion-item>
        <ion-label floating>Mobile No.</ion-label>
        <ion-input maxlength="10" formControlName="mobileNumber" type="tel"></ion-input>
      </ion-item>

      <div class="textErrorMessage" *ngIf="signUpForm.controls.mobileNumber.touched && signUpForm.status === 'INVALID' ">
        {{signUpForm.controls.mobileNumber && signUpForm.controls.mobileNumber.errors && signUpForm.controls.mobileNumber.errors.errorObj}}
      </div>


      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input maxlength="50" formControlName="signupPass" type="password"></ion-input>
      </ion-item>


      <div class="textErrorMessage" *ngIf="signUpForm.controls.signupPass.touched && signUpForm.status === 'INVALID' ">
        {{signUpForm.controls.signupPass && signUpForm.controls.signupPass.errors && signUpForm.controls.signupPass.errors.errorObj}}
      </div>

      <div *ngIf="finalErrorMessage">
        Name, Email, Mobile No. and Password are required
      </div>

      <div class="textErrorMessage" *ngIf="serverErrorMessage">
        {{serverErrorMessage}}
      </div>

    </ion-list>

  </form>

  <button [disabled]="signUpForm.status === 'INVALID'" ion-button full color="quikWinButton" (click)="save()">Proceed</button>
</ion-content>
