<!-- <ion-content no-padding class="footballTemplate"> -->

<ion-row *ngIf="matchDateArray" padding-left padding-right class="dateWrapper">
    <ion-col class="displayFlexCenter" (click)="slidePrev()" no-padding col-1>
        <ion-icon name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col no-padding col-10>
        <ion-slides slidesPerView="3">
            <ion-slide (click)="filterMatch(mathcDate,i)" *ngFor="let mathcDate of matchDateArray;let i = index">
                <p class="dateTextWrapper fontFamily60" [class.selectedMatchDate]="selectedMatchDateId === i"> {{mathcDate.displayData}}</p>
            </ion-slide>
        </ion-slides>
    </ion-col>
    <ion-col class="displayFlexCenter" (click)="slideNext()" no-padding col-1>
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
</ion-row>


<ion-row *ngIf="matchsOnSelectedDate" class="bgGreyMain">
    <ion-col no-padding col-12>
        <ion-slides #matchFixtureSlider class="matchesFixturesWrapper" centeredSlides="true" pager="true" slidesPerView="1.15" spaceBetween="0">
            <ion-slide *ngFor="let matchCard of matchsOnSelectedDate">
                <ion-card class="ionicCardWrapper">
                    <ion-card-content>
                        <ion-row text-center class="pos-relative">
                            <ion-col no-padding col-6 class="teamInfoWrapper">
                                <img src={{matchCard.teamADisplayInfo.flag}}>
                                <p>{{matchCard.teamADisplayInfo && matchCard.teamADisplayInfo.shortName}}</p>
                            </ion-col>
                            <ion-col no-padding class="pos-absolute vsText fontFamily60">
                                <p class="p-xsm">VS</p>
                            </ion-col>
                            <ion-col no-padding col-6 class="teamInfoWrapper">
                                <img src={{matchCard.teamBDisplayInfo.flag}}>
                                <p>{{matchCard.teamBDisplayInfo && matchCard.teamBDisplayInfo.shortName}}</p>
                            </ion-col>
                        </ion-row>

                        <ion-row class="goalsWrapper">
                            <ion-col no-padding col-6 class="goalPlusMinusWrapper">
                                <button [disabled]="matchCard.buttonDisableFlag" color="buttonSecondary" ion-button icon-only (click)="decreaseGoal(matchCard,'homeTeamGoalPredection')">
                                    <ion-icon name="remove"></ion-icon>
                                </button>
                                <span>{{matchCard.teamA_score || 0}}</span>
                                <button [disabled]="matchCard.buttonDisableFlag" color="buttonSecondary" ion-button icon-only (click)="increaseGoal(matchCard,'teamADisplayInfo')">
                                    <ion-icon name="add"></ion-icon>
                                </button>
                            </ion-col>
                            <ion-col no-padding col-6 class="goalPlusMinusWrapper">
                                <button [disabled]="matchCard.buttonDisableFlag" color="buttonSecondary" ion-button icon-only (click)="decreaseGoal(matchCard,'awayTeamGoalPredection')">
                                    <ion-icon name="remove"></ion-icon>
                                </button>
                                <span>{{matchCard.teamB_score || 0}}</span>
                                <button [disabled]="matchCard.buttonDisableFlag" color="buttonSecondary" ion-button icon-only (click)="increaseGoal(matchCard,'teamBDisplayInfo')">
                                    <ion-icon name="add"></ion-icon>
                                </button>
                            </ion-col>
                        </ion-row>
                        <ion-row padding text-center class="winnerWrapper">
                            <ion-col no-padding col-12>Winner
                                <span>{{matchCard.predictor && matchCard.predictor.winner || 'Draw'}}</span>
                            </ion-col>
                        </ion-row>

                        <ion-row padding text-center>
                            <ion-col no-padding col-12>
                                <ion-item class="selectBoxTournamane counterySelectbox">
                                    <select-searchable [(ngModel)]="matchCard.playerLis" [items]="matchCard.playerList" [canSearch]="true" (onChange)="selectMatchTopScorrer($event)">
                                    </select-searchable>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row padding-left padding-right>
                            <button [disabled]="matchCard.buttonDisableFlag" class="blueButton" color="buttonSecondary" padding ion-button full round (click)="submitMatchPredection()">Submit</button>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-col>
</ion-row>



<ion-row class="filters" *ngIf="matchsOnSelectedDate.length == 0">
    <ion-col no-padding col-12>
        <ion-slides>
            Coming Soon
        </ion-slides>
    </ion-col>
</ion-row>




<!-- </ion-content> -->



<!-- <ion-row class="filters">
    <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
        <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
    </ion-col>
    <ion-col no-padding col-10>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="3">
            <ion-slide (click)="filterData(category.id)" *ngFor="let category of categories">
                <p [class.selected]="selectedCategory?.id === category.id">{{ category.name }}</p>
            </ion-slide>
        </ion-slides>
    </ion-col>
    <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
        <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
    </ion-col>
</ion-row> -->