match-predictions {
    .dateWrapper {
        background: #fff;
    }
    .displayFlexCenter {
        display: flex;
        align-content: center;
        align-items: center;
        text-align: center;
        .icon {
            width: 100%;
            font-size: 24px;
        }
    }
    .dateTextWrapper {
        font-size: 16px;
        font-style: normal;
        text-align: center;
        color: $lightGrey;
        margin: 0px;
        &.selectedMatchDate {
            border-bottom: 2px solid #f5c025;
            padding: 12px 0;
            font-size: 18px;
            color: $textColorPrimary;
        }
    }
    .bgGreyMain {
        background-color: $mainGreyBg;
    }
    .ionicCardWrapper {
        border-radius: 30px;
    }
    .teamInfoWrapper {
        padding: 15px 0;
    }
    .teamInfoWrapper img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #000;
    }
    .teamInfoWrapper p {
        font-family: $fontFamily;
        font-size: 16px;
        color: $textColorPrimary;
        font-weight: bold;
    }
    .vsText {
        font-family: $fontFamily;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        p.p-xsm {
            color: #4b4556 !important;
        }
    }
    .goalsWrapper {
        border: 1px solid #f2e8ea;
        border-radius: 30px;
        padding: 10px 0;
    }
    .goalPlusMinusWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            .button-inner {
                .icon {
                    font-size: 16px;
                }
            }
        }
        >span {
            width: 40px;
            display: inline-block;
            font-family: $fontFamily;
            color: $textColorPrimary;
            font-size: 30px;
            font-weight: 500;
        }
    }
    .winnerWrapper {
        font-family: $fontFamily;
        font-size: 12px;
        font-weight: 500;
        color: #928390;
        span {
            border-radius: 30px;
            border: solid 1px #f2e8ea;
            font-family: $fontFamily;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: $textColorPrimary;
            display: inline-block;
            padding: 8px 30px;
            margin: 0 0 0 15px;
            text-transform: uppercase;
        }
    }
    .matchesFixturesWrapper {
        .swiper-pagination {
            bottom: 16px;
        }
        .swiper-pagination-bullet-active {
            background: $textColorPrimary;
        }
        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
        .swiper-container {
            padding-bottom: 20px !important;
        }
    }
    .pos-relative {
        position: relative;
    }
    .pos-absolute {
        position: absolute;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        height: 100%;
    }
}