tournament-predictions {
    .headingTournamanet {
        font-family: $fontFamily;
        font-size: 12px;
        font-weight: 500;
        color: $textColorPrimary;
        margin-bottom: -10px;
        &.sub-heading {
            color: #928390;
        }
    }
    .tournamanetCardWrapper {
        border-radius: 30px;
        img {
            margin: 10px 0;
            width: 60px;
            height: 60px;
            display: inline-block;
            border: 3px solid $textColorPrimary;
            border-radius: 100%;
        }
        .selectBoxTournamane {
            margin: 10px 0;
            border-radius: 30px;
            border: solid 1px #f2e8ea;
            height: 50px;
            margin-bottom: 16px;
            .select-searchable-label {
                display: none;
            }
            .select-searchable-value {
                width: 100%;
                max-width: 100%;
                font-family: $fontFamily;
                font-size: 18px;
                font-weight: 500;
                color: $textColorPrimary;
                text-transform: uppercase;
            }
            .select-searchable-icon {
                width: 35px;
                min-height: 9px;
                height: auto;
            }
        }
    }
    .counterySelectbox {
        .select-searchable-value {
            font-weight: bold !important;
            text-transform: uppercase;
            font-size: 24px !important;
        }
    }
}