<ion-grid>
    <ion-row no-padding>
        <ion-col text-center class="headingTournamanet" col-12>
            Tournament Predictions
        </ion-col>
    </ion-row>

    <ion-row no-padding>
        <ion-col col-12>
            <ion-card class="tournamanetCardWrapper">
                <ion-item text-center>
                    <img src="{{winnerCounterySelected && winnerCounterySelected.flag}}" />
                    <ion-row no-padding>
                        <ion-col text-center class="headingTournamanet sub-heading" col-12>
                            Winner
                        </ion-col>
                    </ion-row>
                    <ion-item class="selectBoxTournamane counterySelectbox">
                        <select-searchable [(ngModel)]="countery" [items]="fifaCounterys" itemValueField="id" itemTextField="name" [canSearch]="true"
                            (onChange)="counteryChange($event)">
                        </select-searchable>
                    </ion-item>

                    <ion-item class="selectBoxTournamane">
                        <select-searchable [(ngModel)]="goldenBallWinnerSelected" [items]="goldenBallWinner" [canSearch]="true" (onChange)="goldenBallChange($event)">
                        </select-searchable>
                    </ion-item>

                    <ion-item class="selectBoxTournamane">
                        <select-searchable [(ngModel)]="goldenBootWinnerSelected" [items]="goldenBootWinner" [canSearch]="true" (onChange)="goldenBootChange($event)">
                        </select-searchable>
                    </ion-item>







                </ion-item>
                <ion-row padding-left padding-right>
                    <button class="blueButton" color="buttonSecondary" padding ion-button full round (click)="submitTournamentPredection()">Submit</button>
                </ion-row>
                <ion-card-content>

                </ion-card-content>

            </ion-card>
        </ion-col>
    </ion-row>



</ion-grid>
