<ion-header>
    <ion-navbar color="quikWinToolbar">
        <ion-title align="center" ion-title="center" class="fontFamily40">Groups</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="presentPopover($event)">
                <ion-icon name="add" color="iconTextColor" class="bold-weight"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <!-- <ion-list *ngIf="groupList.length > 0" class="group-list-wrap">
        <ion-item *ngFor="let group of groupList">
            <ion-avatar item-start>
                <div class="nameAvatar">{{group.name && group.name.substr(0,1)}}</div>
            </ion-avatar>
            <h2 text-uppercase>{{group.name}}</h2>
            <p class="p-md">{{group.description}}</p>
            <p class="p-xsm">{{group.members}}</p>
            <button ion-button clear item-end>
                <ion-icon color="iconTextGreyColor" class="arrow" name="arrow-round-forward"></ion-icon>
            </button>
        </ion-item>
    </ion-list> -->

    <!-- <div *ngIf="groupList.length == 0 || !groupList" class="groupWrapWelcome"> -->
    <div class="groupWrapWelcome">
        <h2 text-center text-uppercase>Welcome!</h2>
        <p text-center class="p-sm">You don’t seem to be a part of any groups yet. Start a group to compete with your friends! </p>

        <ion-grid text-center>
            <ion-row>
                <ion-col col-12>
                    <button ion-button icon-only class="rnd-btn" color="royal" (click)="goToNextPage()">
                        <ion-icon name="add" color="iconTextColor" class="bold-weight"></ion-icon>
                    </button>
                    <p class="p-md" margin-bottom padding-bottom>Create Group</p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <p class="p-sm" padding-top>Or join an existing group using the league code</p>
                </ion-col>
            </ion-row>
            <ion-row class="join-btn-wrap">
                <ion-col col-9 no-padding>
                    <ion-item>

                        <ion-input type="text" placeholder="Enter League Code"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-3 no-padding>
                    <button ion-button full class="blueButton" color="buttonSecondary">Join</button>
                </ion-col>
            </ion-row>




        </ion-grid>
    </div>
</ion-content>
