ion-list {
    &.group-list-wrap {
        margin: -16px !important;
        .nameAvatar {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background-color: #9fd3f9;
            color: #4b4556;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-right: 10px;
        }
        .item-block {
            padding: 16px 0 16px 30px;
            border-bottom: 1px solid #f2e8ea;
        }
        p.p-md {
            color: #928390;
        }
    }
}

.groupWrapWelcome {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    .rnd-btn {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin: 25px 0 10px 0;
    }
    .join-btn-wrap {
        margin-top: 10px;
        padding: 0 20px;
        .blueButton {
            padding: 0 !important;
            margin: 0 !important;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            height: 40px;
        }
        ion-item.item-input {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            height: 40px !important;
            .text-input-md {
                font-family: Dosis;
                font-size: 16px;
                color: $lightGrey;
            }
        }
        ion-item.input-has-focus.item-input-has-focus {
            border-bottom: none !important;
        }
    }
}