<ion-header>
    <ion-navbar color="quikWinToolbar">
        <ion-title align="center" class="fontFamily40">Create Group</ion-title>
        <!--     <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons> -->
    </ion-navbar>
</ion-header>


<ion-content padding>

    <h2 class="fontFamily60" text-center text-uppercase margin-top margin-bottom padding-bottom>Group Name</h2>

    <form [formGroup]="createGroupForm">

        <ion-list>

            <ion-item>
                <ion-label floating class="p-lg">IA Shooters</ion-label>
                <ion-input class="p-lg" maxlength="50" formControlName="groupName" type="text"></ion-input>
            </ion-item>

            <div *ngIf="createGroupForm.controls.groupName.touched && createGroupForm.status === 'INVALID' ">
                {{createGroupForm.controls.groupName && createGroupForm.controls.groupName.errors && createGroupForm.controls.groupName.errors.errorObj}}
            </div>


            <div *ngIf="finalErrorMessage">
                Group Name is required
            </div>


        </ion-list>

    </form>
    <ion-row text-center>
        <ion-col col-12>
            <button [disabled]="createGroupForm.status === 'INVALID'" ion-button round color="quikWinButton" (click)="save()">Create Group</button>
        </ion-col>
    </ion-row>

</ion-content>