create-group {
    ion-item {
        background-color: #f2f2f2 !important;
        text-align: center !important;
    }
    ion-input {
        background-color: #f2f2f2 !important;
        box-shadow: inset 0 -1px 0 0 #cccccc;
        text-align: center !important;
    }
    form {
        margin: 50px 0 55px 0;
        text-align: center !important;
        div.err {
            margin-top: 10px;
            padding-left: 15px;
            color: #4b4556;
        }
        .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
            border-bottom-color: transparent !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }
        .item-label-floating .text-input-md {
            text-align: center !important;
        }
    }
    button {
        width: 240px;
        height: 60px !important;
        margin: 0 auto;
        font-size: 16px !important;
        font-weight: 600 !important;
    }
}