// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.fontFamily40 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.fontFamily50 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}

.fontFamily60 {
    font-family: 'Dosis', sans-serif !important;
    font-weight: 600 !important;
}

ion-content {
    background-color: #f2f2f2 !important;
    font-family: Dosis !important;
}

.textErrorMessage {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    color: #f54725;
    font-size: 13px;
    padding-left: 16px;
    padding-top: 3px;
}

// TITLE CENTER
.toolbar-title-md {
    text-align: center;
}

.toolbar-md ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-size: 18px;
}

.toolbar-title-wp {
    text-align: center;
}

.toolbar-wp ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

ion-card {
    border-radius: 20px !important;
    background-color: #ffffff !important;
    border: solid 1px #f2e8ea !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    // padding-bottom: 10px;
}

.mrgnTop10 {
    margin-top: 10px;
}

h2 {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: $textColorPrimary !important;
}

.button-clear-md:hover:not(.disable-hover) {
    background-color: transparent !important;
}

.button-md {
    text-transform: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.brdrRadius30 {
    border-radius: 30px;
}

.blueButton {
    color: #4b4556;
    font-size: 16px;
    font-weight: 500;
    padding: 26px 0 !important;
}

.header-md::after,
.tabs-md[tabsPlacement="top"]>.tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background-image: none !important;
}

.bold-weight {
    font-weight: bold;
}

p {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: Dosis;
    padding: 0;
    margin: 0;
    &.p-xsm {
        font-size: 12px;
        font-weight: 500;
        color: #cccccc;
    }
    &.p-sm {
        font-size: 14px;
        font-weight: 500;
        color: $lightGrey;
    }
    &.p-md {
        font-size: 16px;
        font-weight: 500;
        color: $textColorPrimary;
    }
    &.p-lg {
        font-size: 18px;
        color: #928390;
    }
    &.p-sm60 {
        font-size: 14px;
        font-weight: 600;
        color: $lightGrey;
    }
    &.p-md60 {
        font-size: 16px;
        font-weight: 600;
        color: $textColorPrimary;
    }
    &.p-lg60 {
        font-size: 18px;
        color: #928390;
    }
}

.item-md.item-block .item-inner {
    border-bottom: none !important;
}

.bar-button-default-md:hover:not(.disable-hover),
.bar-button-clear-md-default:hover:not(.disable-hover),
.bar-button-md-default:hover:not(.disable-hover) {
    color: #ffffff;
}