page-group-invite {
    .blueButton {
        padding: 0 !important;
        height: 40px;
        &.snd-invite {
            width: 160px;
            margin: 8px 0 5px 0 !important;
        }
        &.copy {
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            margin: 0 !important;
        }
    }
    ion-input {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        height: 40px;
        // border-radius: 20px;
        background-color: #f2e8ea;
        .text-input-md {
            margin: 10px 22px !important;
            font-weight: bold;
            color: #4b4556;
        }
        .text-input[disabled] {
            opacity: 1;
        }
    }
    ion-input {
        &.chip-input {
            background-color: transparent !important;
            border-bottom: 1px solid #928390;
            border-radius: 0;
            .text-input-md {
                font-size: 16px;
                font-weight: 500;
                color: #928390;
                text-align: center !important;
            }
        }
    }
}