<ion-header>
    <ion-navbar color="quikWinToolbar">
        <ion-title align="center" ion-title="center" class="fontFamily40">Invite</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal">
        <ion-icon name="more" color="iconTextColor"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card text-center margin-top>

        <ion-card-content>
            <!-- chip -->
            <ion-chip #chip1>
                <ion-label>Default</ion-label>
                <button ion-button clear color="light" (click)="delete(chip1)">
                        <ion-icon name="close-circle"></ion-icon>
                 </button>
            </ion-chip>

            <!-- chip -->
            <ion-row>
                <ion-col col-12>
                    <p class="p-sm60" margin-bottom>Using Email</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item>
                        <ion-input class="chip-input" type="email" placeholder="add more">

                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <button ion-button margin-top round class="blueButton snd-invite" color="buttonSecondary">Send Invite</button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <p class="p-sm60" margin-top>Using Sharable link</p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-9 no-padding>
                    <ion-input type="text" disabled value="small.game.inv/g567"></ion-input>
                </ion-col>
                <ion-col col-3 no-padding padding-bottom>
                    <button ion-button full class="blueButton copy" color="buttonSecondary" margin-bottom>Copy</button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <p class="p-sm60" margin-top padding-top>Send personal invite using your league code</p>
                </ion-col>
            </ion-row>
            <ion-row margin-bottom padding-bottom>
                <ion-col col-9 no-padding>
                    <ion-input type="text" disabled value="54276"></ion-input>
                </ion-col>
                <ion-col col-3 no-padding>
                    <button ion-button full class="blueButton copy" color="buttonSecondary">Copy</button>
                </ion-col>
            </ion-row>



        </ion-card-content>

    </ion-card>


</ion-content>