.member-profile {
    h3 {
        font-size: 30px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: normal;
        text-align: center;
        color: #4b4556;
        margin: 0;
    }
    .member-image {
        position: relative;
        top: 70px;
        margin-top: -50px;
        img {
            width: 120px;
            height: 120px;
            border-radius: 100%;
            display: inline-block;
            text-align: center;
        }
    }
    span {
        color: $lightGrey;
        display: inline-block;
    }
    ion-card {
        padding-top: 53px;
    }
    ion-card {
        margin-bottom: 35px;
    }
}

.brwn-btn {
    width: 240px;
    height: 60px;
    border-radius: 30px;
    background-color: #cccccc;
    line-height: 60px;
    color: #4b4556;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    box-shadow: none;
    font-weight: 600;
    margin: 5px auto;
    display: block;
    span {
        color: #4b4556;
    }
    &.button-md:hover:not(.disable-hover) {
        background-color: #cccccc;
    }
}

.red-btn {
    width: 240px;
    height: 60px;
    border-radius: 30px;
    background-color: #f54725;
    line-height: 60px;
    color: #f2f2f2;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    box-shadow: none;
    font-weight: 600;
    margin: 10px auto;
    display: block;
    span {
        color: #f2f2f2;
    }
    &.button-md:hover:not(.disable-hover) {
        background-color: #f54725;
    }
}