<ion-header>
    <ion-navbar color="quikWinToolbar">
        <ion-title align="center" ion-title="center" class="fontFamily40">Vikram</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="presentPopover($event)">
        <ion-icon name="more" color="iconTextColor"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="member-profile">
    <ion-row text-center class="member-image">
        <ion-col col-12>
            <img align=center src="../../assets/imgs/rectangle-4.png">
        </ion-col>
    </ion-row>
    <ion-card text-center>

        <ion-card-content>

            <ion-row>
                <ion-col col-12>
                    <h3>Vikram</h3>
                    <span>member since 1947</span>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12>
                    <span class="mrgnTop10">Total Points</span>
                    <h3>748</h3>
                </ion-col>

            </ion-row>





        </ion-card-content>

    </ion-card>
    <ion-row text-center>
        <ion-col col-12>
            <button ion-button round class="brwn-btn">Invite to other leagues</button>
            <button ion-button round class="red-btn">Remove from league</button>
        </ion-col>
    </ion-row>





</ion-content>