.popover-md .popover-content {
    top: 40px !important;
    width: 155px;
    left: auto !important;
    right: 20px !important;
    padding: 10px 0 !important;
    border-radius: 5px;
}

.list-md .item-block .item-inner {
    border-bottom: none !important;
}

.list-md {
    margin: 0 !important;
}

.item-block {
    min-height: 3rem !important;
}

.label-md {
    margin: 7px 8px 7px 0;
}

ion-label {
    font-size: 14px;
    font-family: Dosis;
}