<ion-header>
    <ion-toolbar color="quikWinToolbar">
        <ion-title align="center" class="fontFamily40">Menu</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="navigation">
    <ion-grid>
        <ion-row *ngFor="let nav of navArray; let i=index">
            <ion-col col-12 (click)="fnGotoPage(i)"><span>{{nav.displayPageName}}</span> </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>