.navigation {
    background-color: #4b4556 !important;
    display: flex;
    flex-direction: column;
    span {
        font-family: Dosis;
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #f2e8ea;
        padding: 15px 0;
        display: block;
    }
}