<ion-header>
    <ion-navbar color="quikWinToolbar">
        <ion-title align="center" ion-title="center" class="fontFamily40">IA Shooters poiuytf</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="presentPopover($event)">
        <ion-icon name="more" color="iconTextColor"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <img class="main-image" src="../../assets/imgs/dummy.jpg" />
    <ion-grid no-padding>

        <ion-row>
            <ion-col col-3>
                <p class="p-sm">Rank</p>
            </ion-col>
            <ion-col col-6>
                <p class="p-sm">Name</p>
            </ion-col>
            <ion-col col-3>
                <p class="p-sm">Points</p>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let memberList of groupDetails; let i=index">
            <ion-col col-3>
                <div class="rank">{{i+1}}</div>
            </ion-col>
            <ion-col col-6>
                <h2 text-uppercase>{{memberList.name}}</h2>
                <p class="p-xsm">{{memberList.memberSince}}</p>
            </ion-col>
            <ion-col col-3>
                <div class="points">{{memberList.points}}</div>
            </ion-col>
        </ion-row>

    </ion-grid>


</ion-content>