page-group-detail {
    .main-image {
        width: 100%;
        object-fit: cover;
        max-height: 200px;
    }
    .grid {
        background: #ffffff;
        ion-row {
            padding: 15px 24px;
            border-bottom: 1px solid #f2e8ea;
        }
        h2 {
            margin: 6px 0;
        }
        .rank {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            background-color: #f2f2f2;
            font-size: 24px;
            font-weight: bold;
            color: #4b4556;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        .points {
            font-size: 24px;
            font-weight: bold;
            color: #4b4556;
            text-align: center;
            width: auto;
            float: left;
            margin-top: 8px;
        }
    }
}