football-home {
    .footballTemplate {
        background-color: $mainGreyBg;
    }
    .matchPredectionTab {
        padding: 10px !important;
        margin: 0;
        list-style: none;
        float: left;
        width: 100%;
        background: #fff;
    }
    .matchPredectionTab li {
        display: inline-block;
        width: 50%;
        border: 2px solid $textColorPrimary;
        font-family: $fontFamily;
        color: $lightGrey;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 0;
        float: left;
        // margin: 0 0 15px 0;
    }
    .matchPredectionTab li:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .matchPredectionTab li:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .matchPredectionTab li.active {
        background: $textColorPrimary;
        color: #fff;
        font-weight: bold;
    }
}