<ion-header>
    <ion-navbar color="quikWinToolbar">
        <ion-title align="center" class="fontFamily40">Football World Cup 2018</ion-title>
        <!--     <ion-buttons end>
          <button ion-button icon-only color="royal">
            <ion-icon name="person-add"></ion-icon>
          </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>


<ion-content no-padding class="footballTemplate">

    <ul class="matchPredectionTab" padding text-center>
        <li (click)="changePredectionComponent('matchPredection')" [class.active]="componentFlag === 'matchPredection'">Match Predictor</li>
        <li (click)="changePredectionComponent('tournamentPredection')" [class.active]="componentFlag === 'tournamentPredection'">Tournament Predictor</li>
    </ul>

    <div *ngIf="componentFlag === 'matchPredection' ">
        <match-predictions></match-predictions>
    </div>

    <div *ngIf="componentFlag === 'tournamentPredection' ">
        <tournament-predictions></tournament-predictions>
    </div>
</ion-content>